:root {
  --gray-100: #020617; 
  --gray-200: #020617;
  --gray-300: #020617;
  --gray-400: #020617;
  --gray-500: #020617;
  --gray-600: #020617;
  --gray-700: #020617;
  --gray-800: #020617;
  --gray-900: #020617;

  --primary-light: #93C5FD;
  --primary: #3B82F6;       

  --link-color: #3B82F6;
  --link-hover: #1E3A8A;

  
  --sucess: #22C55E;
  --warning: #FACC15;
  --error: #EF4444;
  --info: #22D3EE; 

  --text-over-primary: #F8FAFC;
  --text-over-primary-dark: #F8FAFC;
  --text-over-primary-light: #0F172A;

  --text-over-sucess: #052E16;
  --text-over-warning: #422006;
  --text-over-error: #FEF2F2;
  --text-over-info: #083344;


   --text-default: #E5E7EB;
  --text-muted: #94A3B8;

  --disabled: #475569;
  --text-disabled: #64748B;
}

:root[data-theme='light'] {
  --gray-100: #F8FAFC; 
  --gray-200: #E2E8F0;
  --gray-300: #CBD5E1;
  --gray-400: #94A3B8;
  --gray-500: #64748B;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1E293B;
  --gray-900: #0F172A; 


  --text-default: #334155; 
  --text-muted: #334155;

  --link-color: #1E3A8A;
  --link-hover: #1E40AF;
}




